@model HomeViewModel

<div class="jumbotron my-5">
  <h1 class="display-4">@ViewData["Title"]</h1>
  <p class="lead">Impara in maniera facile e divertente con i nostri corsi online<br>Scegli da un vasto catalogo sempre a tua disposizione</p>
  <hr class="my-4">
  <p><a class="btn btn-primary btn-lg" asp-controller="Courses" asp-asp-action="Index">Sfoglia il Catalogo</a></p>
</div>

<h2>I migliori di sempre</h2>
@foreach (var course in Model.BestRatingCourses)
{
    <hr>
    <div class="row course">
        <div class="col-md-1">
            <img src="@course.ImagePath" alt="town" width="50px">
        </div>
        <div class="col-md-5">
            <h2>@course.Title</h2>
            <p class="@course.Author">di @course.Author</p>
        </div>
        <div class="col-md-2 rating" title="@course.Rating">
            @for(int i=1; i<=5; i++)
            {
                if(@course.Rating >= i)
                {
                    <i class="fas fa-star"></i>
                }
                else if(@course.Rating > i-1)
                {
                    <i class="fas fa-star-half-alt"></i>
                }
                else 
                {
                    <i class="far fa-star"></i>
                }
            }            
        </div>
        <div class="col-md-2 price">
            @course.CurrentPrice
            @if(!@course.CurrentPrice.Equals(@course.FullPrice))
            {<br><s>@course.FullPrice</s>}
        </div>
        <div class="col-md-2">
            <a asp-action="Detail" asp-controller="Courses" asp-route-id="@course.Id" class="btn btn-outline-primary">Dettagli</a>
        </div>
    </div>
}

<br><br>

<h2>Aggiunti di recente</h2>
@foreach (var course in Model.LatestCourses)
{
    <hr>
    <div class="row course">
        <div class="col-md-1">
            <img src="@course.ImagePath" alt="town" width="50px">
        </div>
        <div class="col-md-5">
            <h2>@course.Title</h2>
            <p class="@course.Author">di @course.Author</p>
        </div>
        <div class="col-md-2 rating" title="@course.Rating">
            @for(int i=1; i<=5; i++)
            {
                if(@course.Rating >= i)
                {
                    <i class="fas fa-star"></i>
                }
                else if(@course.Rating > i-1)
                {
                    <i class="fas fa-star-half-alt"></i>
                }
                else 
                {
                    <i class="far fa-star"></i>
                }
            }            
        </div>
        <div class="col-md-2 price">
            @course.CurrentPrice
            @if(!@course.CurrentPrice.Equals(@course.FullPrice))
            {<br><s>@course.FullPrice</s>}
        </div>
        <div class="col-md-2">
            <a asp-action="Detail" asp-controller="Courses" asp-route-id="@course.Id" class="btn btn-outline-primary">Dettagli</a>
        </div>
    </div>
}