@model HomeViewModel
<h1>Sono la View per l'Action Detail del HomeController</h1>

@* Best Rating Courses *@
<h2>I migliori di sempre</h2>
@foreach (var course in Model.BestRatingCourses)
{
    <hr>
    <div class="row course">
        <div class="col-md-1">
            <img src="@course.ImagePath" alt="town" width="50px">
        </div>
        <div class="col-md-5">
            <h2>@course.Title</h2>
            <p class="@course.Author">di @course.Author</p>
        </div>
        <div class="col-md-2 rating" title="@course.Rating">
            @for(int i=1; i<=5; i++)
            {
                if(@course.Rating >= i)
                {
                    <i class="fas fa-star"></i>
                }
                else if(@course.Rating > i-1)
                {
                    <i class="fas fa-star-half-alt"></i>
                }
                else 
                {
                    <i class="far fa-star"></i>
                }
            }            
        </div>
        <div class="col-md-2 price">
            @course.CurrentPrice
            @if(!@course.CurrentPrice.Equals(@course.FullPrice))
            {<br><s>@course.FullPrice</s>}
        </div>
        <div class="col-md-2">
            <a asp-action="Detail" asp-controller="Courses" asp-route-id="@course.Id" class="btn btn-outline-primary">Dettagli</a>
        </div>
    </div>
}

<br><br>

@* Latest Courses *@
<h2>Aggiunti di recente</h2>
@foreach (var course in Model.LatestCourses)
{
    <hr>
    <div class="row course">
        <div class="col-md-1">
            <img src="@course.ImagePath" alt="town" width="50px">
        </div>
        <div class="col-md-5">
            <h2>@course.Title</h2>
            <p class="@course.Author">di @course.Author</p>
        </div>
        <div class="col-md-2 rating" title="@course.Rating">
            @for(int i=1; i<=5; i++)
            {
                if(@course.Rating >= i)
                {
                    <i class="fas fa-star"></i>
                }
                else if(@course.Rating > i-1)
                {
                    <i class="fas fa-star-half-alt"></i>
                }
                else 
                {
                    <i class="far fa-star"></i>
                }
            }            
        </div>
        <div class="col-md-2 price">
            @course.CurrentPrice
            @if(!@course.CurrentPrice.Equals(@course.FullPrice))
            {<br><s>@course.FullPrice</s>}
        </div>
        <div class="col-md-2">
            <a asp-action="Detail" asp-controller="Courses" asp-route-id="@course.Id" class="btn btn-outline-primary">Dettagli</a>
        </div>
    </div>
}