@model CourseListViewModel

<div class="row">
    <div class="col-md-9">
        <h1>Catalogo dei Corsi</h1>
    </div>
    <div class="col-md-3 d-flex align-items-center">
        <form class="mr-auto" method="GET"> <!-- 'GET' per avere la ricerca nell'URL degli indirizzi -->
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="search" placeholder="Cerca..." value="@Model.Input.Search" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

@* Ordinamento dei Corsi *@
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5"><order-link order-by="Title" Input="@Model.Input">Titolo</order-link></div>
    <div class="col-md-2"><order-link order-by="Rating" Input="@Model.Input">Valutazione</order-link></div>
    <div class="col-md-2"><order-link order-by="CurrentPrice" Input="@Model.Input">Prezzo</order-link></div>
    <div class="col-md-2"></div>
</div>

@foreach (CourseViewModel course in Model.Courses.Results)
{
    <hr>
    <div class="row course">
        <div class="col-md-1">
            <img src="@course.ImagePath" alt="town" width="50px">
        </div>
        <div class="col-md-5">
            <h2>@course.Title</h2>
            <p class="@course.Author">di @course.Author</p>
        </div>
        <div class="col-md-2 rating" title="@course.Rating">

            @*  tag helper personalizzato, per poter riutilizzare il codice e migliorare la 
                leggibilità della View (il nome del tag e dell'attributo value sono arbitrari,
                gli passo il valore da rappresentare, il rating il questo caso) *@
            <rating value="@course.Rating"></rating>         

        </div>
        <div class="col-md-2 price">
            <price current-price="@course.CurrentPrice" full-price="@course.FullPrice"></price>
        </div>
        <div class="col-md-2">
            <a asp-action="Detail" asp-route-id="@course.Id" class="btn btn-outline-primary">Dettagli</a>
        </div>
    </div>
}

@* Paginazione dei Corsi utilizzando un ViewComponent *@

<vc:pagination-bar model="@Model"></vc:pagination-bar>