@model CourseListViewModel

<div class="row">
    <div class="col-md-9">
        <h1>Catalogo dei Corsi</h1>
    </div>
    <div class="col-md-3 d-flex align-items-center">
        <form class="mr-auto" method="GET"> <!-- 'GET' per avere la ricerca nell'URL degli indirizzi -->
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="search" placeholder="Cerca..." value="@Model.Input.Search" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

@* Ordinamento dei Corsi *@
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5"><a asp-route-orderby="Title" asp-route-ascending="@(Model.Input.OrderBy == "Title" ? !Model.Input.Ascending : true)" asp-route-search="@Model.Input.Search">Titolo @if(Model.Input.OrderBy == "Title"){ <i class="fas fa-caret-@( Model.Input.Ascending == true ? "up" : "down" )"></i> }</a></div>
    <div class="col-md-2"><a asp-route-orderby="Rating" asp-route-ascending="@(Model.Input.OrderBy == "Rating" ? !Model.Input.Ascending : true)" asp-route-search="@Model.Input.Search">Valutazione @if(Model.Input.OrderBy == "Rating"){ <i class="fas fa-caret-@( Model.Input.Ascending == true ? "up" : "down" )"></i> }</a></div>
    <div class="col-md-2"><a asp-route-orderby="CurrentPrice" asp-route-ascending="@(Model.Input.OrderBy == "CurrentPrice" ? !Model.Input.Ascending : true)" asp-route-search="@Model.Input.Search">Prezzo @if(Model.Input.OrderBy == "CurrentPrice"){ <i class="fas fa-caret-@( Model.Input.Ascending == true ? "up" : "down" )"></i> }</a></div>
    <div class="col-md-2"></div>
</div>

@foreach (CourseViewModel course in Model.Courses.Results)
{
    <hr>
    <div class="row course">
        <div class="col-md-1">
            <img src="@course.ImagePath" alt="town" width="50px">
        </div>
        <div class="col-md-5">
            <h2>@course.Title</h2>
            <p class="@course.Author">di @course.Author</p>
        </div>
        <div class="col-md-2 rating" title="@course.Rating">
            @for(int i=1; i<=5; i++)
            {
                if(@course.Rating >= i)
                {
                    <i class="fas fa-star"></i>
                }
                else if(@course.Rating > i-1)
                {
                    <i class="fas fa-star-half-alt"></i>
                }
                else 
                {
                    <i class="far fa-star"></i>
                }
            }            
        </div>
        <div class="col-md-2 price">
            @course.CurrentPrice
            @if(!@course.CurrentPrice.Equals(@course.FullPrice))
            {<br><s>@course.FullPrice</s>}
        </div>
        <div class="col-md-2">
            <a asp-action="Detail" asp-route-id="@course.Id" class="btn btn-outline-primary">Dettagli</a>
        </div>
    </div>
}

@* Paginazione dei Corsi *@
@{
    // ricavo numero di pagine totali in base a quanti corsi ci sono e quanti corsi per pagina
    int totalPages = (int) Math.Ceiling(Model.Courses.TotalCount / (decimal) Model.Input.Limit);
    int currentPage = Model.Input.Page; // pagina corrente
}

<nav aria-label="Page navigation">
  <ul class="pagination d-flex justify-content-center mt-3">
        @if(currentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-route-page="@(currentPage-1)" asp-route-search="@Model.Input.Search" asp-route-orderby="@Model.Input.OrderBy" asp-route-ascending="@Model.Input.Ascending"><i class="fas fa-angle-left"></i></a>
            </li>   
        }
        @for(int p = Math.Max(1, currentPage-4); p <= Math.Min(totalPages, currentPage+4); p++)
        {
            if ( p == currentPage)
            {
                <li class="page-item active" aria-current="page">
                    <a class="page-link" asp-route-page="@p" asp-route-search="@Model.Input.Search" asp-route-orderby="@Model.Input.OrderBy" asp-route-ascending="@Model.Input.Ascending">@p <span class="sr-only">(current)</span></a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-route-page="@p" asp-route-search="@Model.Input.Search" asp-route-orderby="@Model.Input.OrderBy" asp-route-ascending="@Model.Input.Ascending">@p</a>
                </li>          
            }
        }
        @if(currentPage < totalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-route-page="@(currentPage+1)" asp-route-search="@Model.Input.Search" asp-route-orderby="@Model.Input.OrderBy" asp-route-ascending="@Model.Input.Ascending"><i class="fas fa-angle-right"></i></a>
            </li>   
        }
  </ul>
</nav>