@* @{
    Layout = "_Layout";
} *@
@* 'estendo' _Layout.cshtml, come in Django faccio {% extends 'base.html' %} *@

@* @using System.Collections.Generic;
@using MyCourse.Models.ViewModels;
PER NON DOVER RIPETERE GLI IMPORT NELLE VIEWS, LI METTO TUTTI IN '_ViewImports.cshtml' *@

@* rendo la View 'fortemente tipizzata', dichiara lei stessa quale è il tipo di dato che è in grado di presentare *@
@model List<CourseViewModel> 

@* Essendo la View 'fortemente tipizzata' ho delle agevolazioni. Posso infatti accedere all'oggetto passatomi dal controller
    usando '@Model', in cui è presente l'oggetto *@

<h1>Catalogo dei Corsi</h1>
@foreach (CourseViewModel course in Model) //'course' è il valore del corso ad ogni ciclo; è di tipo 'CourseViewModel'
{
    <hr>
    <div class="row course">
        <div class="col-md-1">
            <img src="@course.ImagePath" alt="town" width="50px">
        </div>
        <div class="col-md-5">
            <h2>@course.Title</h2>
            <p class="@course.Author">di @course.Author</p>
        </div>
        <div class="col-md-2 rating" title="@course.Rating">
            @for(int i=1; i<=5; i++)
            {
                if(@course.Rating >= i)
                {
                    <i class="fas fa-star"></i>
                }
                else if(@course.Rating > i-1)
                {
                    <i class="fas fa-star-half-alt"></i>
                }
                else 
                {
                    <i class="far fa-star"></i>
                }
            }            
        </div>
        <div class="col-md-2 price">
            @course.CurrentPrice
            @if(!@course.CurrentPrice.Equals(@course.FullPrice))
            {<br><s>@course.FullPrice</s>}
        </div>
        <div class="col-md-2">
            <a asp-action="Detail" asp-route-id="@course.Id" class="btn btn-outline-primary">Dettagli</a>
        </div>
    </div>
}