@model CourseListViewModel

<div class="row">
    <div class="col-md-9">
        <h1>Catalogo dei Corsi</h1>
    </div>
    <div class="col-md-3 d-flex align-items-center">
        <form class="mr-auto" method="GET"> <!-- 'GET' per avere la ricerca nell'URL degli indirizzi -->
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="search" placeholder="Cerca..." value="@Model.Input.Search" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

@* Ordinamento dei Corsi *@
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5"><order-link order-by="Title" Input="@Model.Input">Titolo</order-link></div>
    <div class="col-md-2"><order-link order-by="Rating" Input="@Model.Input">Valutazione</order-link></div>
    <div class="col-md-2"><order-link order-by="CurrentPrice" Input="@Model.Input">Prezzo</order-link></div>
    <div class="col-md-2"></div>
</div>

@* Partial View per lista dei corsi *@
<partial name="Courses/_CourseList" model="@Model.Courses.Results"></partial>


@* Paginazione dei Corsi utilizzando un ViewComponent *@
<vc:pagination-bar model="@Model"></vc:pagination-bar>